@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <div class="companies">
            <img src="media/5m5dlb2w/paperz.svg">
            <img src="media/vtlp55hm/dorfus.svg">
            <img src="media/qfgjhpgl/martino.svg">
            <img src="media/1okbzllu/square.svg">
            <img src="media/pacfuk4j/gobona.svg">
    </div>