@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <div class="footer">
        <div class="footer-top">
            <div class="crito">

                <div class="logo-white">
                    <img src="media/51ejj1un/logotype-white.svg">
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum libero vitae
                    venenatis
                    consectetur. Curabitur posuere placerat ipsum id egestas</div>
            </div>
            <div class="company">
                <h4>Company</h4>
                <a>About</a>
                <a>Features</a>
                <a>Works</a>
                <a>Career</a>
            </div>
            <div class="help">
                <h4>Help</h4>
                <a>Customer Support</a>
                <a>Delivery Details</a>
                <a>Terms & Conditions</a>
                <a>Privacy Policy</a>
            </div>
            <div class="resources">
                <h4>Resources</h4>
                <a>Free eBooks</a>
                <a>Development Tutorial</a>
                <a>How to - Blog</a>
                <a>Youtube Playlist</a>
            </div>
            <div class="link">
                <h4>Link</h4>
                <a>Free eBooks</a>
                <a>Development Tutorial</a>
                <a>How to - Blog</a>
                <a>Youtube Playlist</a>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="rights"> &copy; 2023 Crito - Consulting Company Inc. All Rights Reserved</div>
            <div class="socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    </div>
