@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <div class="header">
        <div class="grid-container">

            <div class="logo">
                <img src="media/k1lllrho/logotype.svg">
            </div>

            <div class="contact-media">
                <div class="number">
                    <i class="fa-solid fa-phone-volume"></i>
                    +46 (8) 121 470 50
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    infocrito.com
                </div>
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    Sveavägen 31, 111 34 STOCKHOLM
                </div>

            </div>
            <div class="socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>

            <div class="navigation">
                <a href="/">Home</a>
                <a>Service</a>
                <a href="/News">News</a>
                <a href="/Contact">Contact</a>
            </div>

            <div class="login-button">
                 <a href="/login" class="btn-yellow">Login <i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>

    </div>