@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
        <div class="signup">
            <div class="signup-text">
                <h1>Get news and updates by signup</h1>
            </div>
            <div class="signup-form">
                <input type="text" placeholder="username@domain.com">
                <button class="btn-yellow">Subscribe <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>