@using MyProject._Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "BreadcrumbLayout.cshtml";

    var contactForm = new ContactForm();
}


<div class="container">

    <div class="connection-boxes">
        <div class="visit-us"><i class="fa-solid fa-location-pin"></i> <h5>Visit Us</h5> <p>Sveavägen 1</p><p>111 34 STOCKHOLM</p></div>
        <div class="call-us"><i class="fa-solid fa-phone"></i><h5>Call Us</h5><p>+46 (8) 121 470 50</p> <p>+46 (8) 121 470 51</p></div>
        <div class="email-us"><i class="fa-solid fa-envelope"></i><h5>Email Us</h5><p>info@crito.com</p><p> support@crito.com</p></div>
    </div>
        <div class="contact-form">
            <h2></h2>
            @using (Html.BeginUmbracoForm("Index","Contact", FormMethod.Post)) {
            <div asp-validation-summary="All"></div>
            <input asp-for="@contactForm.Name" type="text"  placeholder="Name*">
            <input asp-for="@contactForm.Email" type="email" placeholder="Email*">
            <textarea asp-for="@contactForm.Message" placeholder="Your Message*"></textarea>
                 <button type="submit" class="btn-yellow">Send Message<i class="fa-solid fa-arrow-right"></i></button>
        }
        </div>
    

</div>

    
<div><iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=sveav%C3%A4gen%201%20111%2057%20Stockholm+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>