@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.OurServicesBlockList)Model.Content;
}



    <div class="service-box">
            <h3>@content.Value("ourServiceBoxTitle")</h3>@content.Value("ourServiceBoxDesc")
            <a href="/@content.Value("ourServiceBoxUrl")" class="btn-round"><i class="fa-solid fa-arrow-right"></i></a>
    </div>
    
